<div class="container">
    <div class="row justify-content-center" style="margin-top: 40px">

        <!-- Error Alert -->
        <div *ngIf="ifAnyError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{ errorAlertMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col-md-8">
            <h3>Update Task</h3>
            <hr>

            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="inputTaskName">Task</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="inputTaskName" [(ngModel)] = "task.taskname" [ngModelOptions] = "{standalone: true}" placeholder="Task">
                    </div>                    
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="inputPriority">Priority ({{task.priority}})</label>
                    <div class="col-sm-1">
                        <span>0</span> 
                    </div>
                    <div class="col-sm-8" style="padding: 0px;">
                        <input type="range" min=0 max=30 step=1 class="form-control form-control-sm" id="inputPriority" [(ngModel)] = "task.priority" [ngModelOptions] = "{standalone: true}">
                    </div> 
                    <div class="col-sm-1">
                        <span>30</span> 
                    </div>                   
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="inputPTaskName">Parent Task</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="inputPTaskName" [(ngModel)] = "task.parenttaskname" [ngModelOptions] = "{standalone: true}" placeholder="Parent Task">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="inputStartDate">Start Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control form-control-sm" id="inputStartDate" [(ngModel)] = "task.startdt" [ngModelOptions] = "{standalone: true}" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label-sm" for="inputEndDate">End Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control form-control-sm" id="inputEndDate" [(ngModel)] = "task.enddt" [ngModelOptions] = "{standalone: true}">
                    </div>
                </div>
                <div class="form-group row">                    
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10" style="text-align: left">
                        <button type="button" class="btn btn-sm btn-success" (click)="saveTask()"><i class="fa fa-floppy-o"></i>&nbsp;Save Task</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelEdit()"><i class="fa fa-undo"></i>&nbsp;Back</button>
                    </div>
                </div>                
            </form>
        
            <!-- Success Message -->
            <div *ngIf="ifPostedSuccessfully" class="alert alert-success" style="margin-top: 15px" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <p>Task <strong>{{task.taskname}}</strong> has been updated successfully!</p>
                <hr>
                <p class="mb-0"><a href="" [routerLink]="['/viewtask']">Click here</a> to view/edit all other tasks.</p>
            </div>
        </div>       
    </div>
</div>